<br>
<br>
<h1>Devouring Burgers</h1>
<div class=container>
  <div class=row>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
    <br><br>
    <h2>Burgers you have eaten.</h2>

      <ul style="list-style-type:none">
        {{#each burgers}} 
          {{#if devoured}}
        <li>
          {{id}} 
            {{burger_name}}
        </li>
          {{/if}} 
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-3">
    <br><br>
    <h2>Burgers you haven't eaten.</h2>
      <ul style="list-style-type:none">
        {{#each burgers}} 
          {{#unless devoured}}
          <li>
            {{this.id}}
              {{this.burger_name}}
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button class="btn btn-sm btn-eat" style= "background-color: #444369; color:white; font-family='Monoton';"type="submit">Eat.</button>
              </form>
              {{!-- these lines 38 to 41 when commented in and out; without them, 404 error, with them connection err
              it finds an error in burger.js cb is not a function, also it console logs the condition and id which it 
              is not doing without these lines. As far as I can tell, tehse lines only should change the text of button; as I
              dont' want to do that, should be fine to console log them out. but seems they are key to error --}}
            {{!-- {{burger_name}} --}}
            {{!-- <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
            {{#if devoured}}That was good! {{else}}Eat your burger!{{/if}}
        </button> --}}
    </li>

{{!-- this line below was for when partial was in but I could not get it to work
    {{> burgers/burger-block devoured=true}}  --}}
    
    {{/unless}} 
    {{/each}}
</ul>
</div>


    </div>
    
    

<div class=row>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3">
  
<h2>Add a burger.</h2>
<form class="create-form">

    <div class="form-group">
        
        <input type="text" id="ca" name="burger_name">
        <button class="btn btn-sm btn-burger" type="submit" style="background-color: pink;">Submit</button>
    </div>
<div class="col-sm-12">
    <div class="form-group">
        
        
        <input type="radio" name="devoured" value="1" checked> Devoured!
        <br>
        <input type="radio" name="devoured" value="0"> To be later savoured...
    </div>

    
</form>
</div>
</div>
<!--Footer-->
<footer class="page-footer blue center-on-small-only">

  <!--Footer Links-->
  <div class="container-fluid >
    <div class="row">

      <!--First column-->
      <div class="col-md-6">
        <h5 class="title"></h5>
        <p></p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-6">
        <h5 class="title"></h5>
        <ul style="list-style: none;>
          <li>
            <a href="#!"> </a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

 
  
  
  <!--Copyright-->
  <div class="footer-copyright">
    
    <div class="container-fluid"style ="font-size: 22px; text-align:left;">
      © 2018 Andreya Valabek
      <a href="https://github.com/avalabek/Burgers">
        <i class="fab fa-github-square"></i>
  
    </div>
  </div>
  
  <br>
  <br>
  </div>